
body {
    background-color: black;
    overflow: hidden;
}

.container {
    margin: 10vh;
    display: flex;
    justify-content: center;
}

.face {
     position: absolute;   
     z-index: 1;
     height:70%;
     width:70%;
}

.logo {
    position: absolute;   
    z-index: 2;
    height:70%;
    width:70%;
}

.hour-hand {
    position: absolute;   
    z-index: 3;
    height:70%;
    width:70%;
}

.minute-hand {
    position: absolute;   
    z-index: 4;
    height:70%;
    width:70%;
}

.second-hand {
    position: absolute;   
    z-index: 5;
    height:70%;
    width:70%;
}

.barrel {
    position: absolute;   
    z-index: 6;
    height:70%;
    width:70%;
}
