body {
    background-color: black;
}

.container {
    margin: 10vh;
    display: flex;
    justify-content: center;
}

.face {
     position: absolute;   
     z-index: 1;
     height:70%;
}

.hour-hand {
    position: absolute;   
    z-index: 2;
    height:70%;
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
}

.minute-hand {
    position: absolute;   
    z-index: 3;
    height:70%;
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
}

.second-hand {
    position: absolute;   
    z-index: 4;
    height:70%;
    transition: transform 1.2s ease-in-out;
}

.barrel {
    position: absolute;   
    z-index: 5;
    height:70%;
}